<p>jeito 1</p>
<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Idade</td>
      <td>Perfil</td>
      <!-- <td>Ação</td> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listaUsuarios$ | async">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.idade }}</td>
      <td>{{ row.perfil }}</td>
      <!-- <td>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="editar(row.id)"
        >
          Editar
        </button>

        <button class="btn btn-danger" (click)="excluir(row.id)">
          Excluir
        </button>
      </td> -->
    </tr>
  </tbody>
</table>
